*{
    font-family: 'Roboto', sans-serif;
}
.menu-side {
  background-color: #00BCD4;
  color: white;

  position: fixed;
  top: 0;
  right: 0px;
  width: 40%;
  height: 200px;
  margin: 0;
  padding: 0;
}