* {
    font-family: 'Roboto', sans-serif;
}

.menu-side {
    background-color: #00BCD4;
    color: white;
    position: fixed;
    top: 0;
    right: 0px;
    width: 20%;
    height: 200px;
    margin: 0;
    padding: 0;
    margin-top: 2rem;
}

.ContenedorPincipal {
    width: 80%;
}

.my-input {}